[Unit]
Description=Run Miku Rotation Daily

[Timer]
# Run 5 minutes after every boot
OnBootSec=10s
# Also run once every 24 hours thereafter
OnUnitActiveSec=24h
Persistent=true

[Install]
WantedBy=timers.target
